.card {
  max-width: 413px;
  position: relative;
}

.card__delete_btn {
  background: transparent;
  border: none;
  background-image: url(../images/delete__button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  opacity: 1;
  align-self: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete_btn:hover {
  background-image: url(../images/delete__button_Hover.svg);
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  margin: 0;
  object-fit: cover;
  display: block;
}

.card__description {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 16px 0;
}

.card__text {
  max-width: 70%;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__btn {
  background: transparent;
  border: none;
  background-image: url(../images/Like_Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  opacity: 0.4;
  transition: opacity ease-in-out 0.5s;
  align-self: center;
}

.card__btn:hover {
  opacity: 1;
}

.card__btn_liked {
  background-image: url(../images/heart__colored.svg);
  opacity: 1;
}

.card__btn_liked:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
}
