.modal {
  visibility: hidden;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url("../images/close_btn_default.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-size: 40px 40px;
  background-color: transparent;
}

.modal__close-btn:hover {
  background-image: url("../images/close_btn_hover.svg");
}

.modal__title {
  margin-top: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
  margin: 0 0 32px;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  opacity: 1;
  border-radius: 8px;
  padding: 16px 12px;
  border-width: 1px;
  margin: 8px 0 0;
  border: 1px solid #21212166;
  font-size: 16px;
}

.modal__save-btn {
  max-width: 156px;
  max-height: 52px;
  opacity: 1;
  border-radius: 8px;
  padding: 18px 32px;
  color: white;
  background: #212121;
  cursor: pointer;
  border: none;
}

.modal__save-btn:hover {
  background-color: #212121cc;
}

.modal__input::placeholder {
  color: #2121214d;
}

/* image preview model */

.modal__image-container {
  box-sizing: border-box;
  position: relative;
  max-width: 80vw;
  border-radius: 8px;
  margin: auto;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  margin: auto;
}

.modal__close-btn_type_preview {
  background-image: url("../images/preview_close_btn.svg");
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: -52.5px;
}

.modal__close-btn_type_preview:hover {
  background-image: url("../images/preview-close-btn-hov.svg");
}

.modal__caption {
  font-size: 20px;
  color: white;
  margin: 8px 0;
  background-color: #212121;
  display: inline-block;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
}

@media screen and (max-width: 627px) {
  .modal__save-btn {
    max-width: none;
    width: 100%;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 32px 0;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin: 0 0 24px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close_btn-preview {
    position: absolute;
    top: -48px;
    right: 0;
  }
}
