.profile {
  display: flex;
  max-width: 1280px;
  min-height: 210px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  margin-right: auto;
  margin-left: auto;
  padding-top: 34px;
}

.profile__image {
  max-width: 190px;
  max-height: 190px;
  border-radius: 8px;
  display: flex;
  height: 190px;
  margin: 0;
}

.profile__btn {
  width: 149px;
  height: 52px;
  border: none;
  background: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  align-self: flex-end;
  margin-bottom: 20px;
  padding: 0;
  cursor: pointer;
  transition: opacity ease-in-out 0.3s;
}

.profile__btn-image {
  margin: 0 3px 0;
}

.profile__btn:hover {
  opacity: 0.8;
}

.profile__text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 20px;
  height: auto;
  max-width: 420px;
}

.profile__user-name {
  font-size: 32px;
  margin: 0;
  font-style: medium;
  max-width: 420px;
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__user-info {
  margin: 0;
  margin-top: 12px;
  opacity: 0.7;
  font-style: medium;
  max-width: 420px;
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-icon {
  margin: 0;
  margin-right: 8px;
}

.profile__edit-btn {
  margin: auto 0 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  transition: opacity ease-in-out 0.3s;
}

.profile__edit-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 627px) {
  .profile {
    max-width: 288px;
    flex-direction: column;
    align-items: center;
  }

  .profile__image {
    width: 80px;
    height: 80px;
  }

  .profile__text {
    margin: 0 auto 0 auto;
    text-align: center;
    height: auto;
    max-width: 280px;
  }

  .profile__edit-btn {
    height: auto;
    width: auto;
    margin: 32px auto 0 auto;
  }

  .profile__btn {
    margin: 20px auto 20px auto;
    align-content: center;
    height: 52px;
    width: 288px;
  }

  .profile__user-name {
    margin: 6px 0;
    font-size: 20px;
  }

  .profile__user-info {
    margin: 0;
  }
}

@media screen and (max-width: 338px) {
  .profile__btn {
    margin: 20px auto 20px auto;
    align-content: center;
    height: 52px;
    width: 244px;
  }
}
