.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 136px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 60px 20px;
}

.footer__copyright {
  color: #212121;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .footer {
    padding: 0 16px;
  }
}
